@font-face{
    font-family:"Snow Buddy";
    src: url("/FontSnowBuddy/fonts/Snow-Buddy.woff") format("woff");
}

:root
{
    --primary_color:#CC0029;
    --secondary_color:#FF8811;
    --third_color:#F5D800;
    --origin_color:black;
    --descColor: #bcbcbc;
    --policeTitle :"Snow Buddy", sans-serif;
}

* {
    box-sizing: border-box;
    margin-top: 0;
}

body{
    margin: 0;
}

#home{
   font-family: var(--policeTitle);
   font-size: 13vw;  
}

#add{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-image: url(/Ressources/add\ icone.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin-right: 5%;
}

.boxModal{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(238,174,202,0.8) 0%, rgba(148,187,233,0.8) 100%);
   position: fixed;
   top: 0;
   left: 0;
    z-index: 1;
    display: none;
}

.modalContent{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 20px;
    width: 30%;
    margin:30% auto 30% auto;
    border:solid black;
    border-radius: 16px;
    z-index: 1;
}


#closeIdent{
    background-color: #CC0029;
    border: solid 3px #CC0029;
    float: right;
}

.formModal{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(238,174,202,0.8) 0%, rgba(148,187,233,0.8) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
#formAdmin{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 20px;
    width: 30%;
    margin: 10% auto 50% auto;
    border:solid black;
    border-radius: 16px;
    z-index: 1;
}

#formAdmin > input, select{
    text-align: center;
    border-radius: 10px;
}

.boutons, .buttons{
    display: flex;
    justify-content: space-around;
}

#submitAdmin, #submitVerify{
    background: linear-gradient(90deg, rgba(2,104,53,1) 0%, rgba(24,191,9,1) 35%, rgba(165,255,0,1) 100%);
} 

#closeAdmin, #closeIdent, #closeFilter{
    background: linear-gradient(90deg, rgba(135,21,3,1) 0%, rgba(242,0,0,1) 35%, rgba(238,95,95,1) 100%);
} 

.searchBar{
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searching{
    padding: 10px 0 10px 0;
    display: none;
    width: 80%;
    background-color: #FF8811;
    flex-direction: column;
    align-items: center;
    /* animation: moveSearchBar 1s  1 normal forwards; */
}

.fourchette{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.fourchette > div{
    padding: 1%;
    border: solid black 3px;
    border-radius: 50%;
}

.foodStyleForm{
    display: flex;
    flex-direction: column;
}

.africanIcon{
    background-image: url(/Ressources/africaIcon.png);
}

.flip-box{
    position: relative;
    width: 50px;
    height: 50px;
}

.flip-box-int{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-int{
    transform: rotateX(180deg);
}

 .face{
    position: absolute;
    width: 100%;
    height: 100%;
   -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    transform: rotateX(180deg);
}

.pile{
    position: absolute;
    width: 100%;
    height: 100%;
   -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}


#searchButton{/*loupe orange sur fond noir*/
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: var(--origin_color);
    background-image: url('/Ressources/loupe iconeO.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid var(--origin_color) 3px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#searchButton2{/*loupe noir sur fond orange*/
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: var(--secondary_color);
    background-image: url('/Ressources/loupe icone.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid var(--secondary_color) 3px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    
}

#searchText{
width: 230px;
padding: 0.5vw 0.5vw 0.5vw 0;
}

@keyframes moveSearchBar{
    0%{
        opacity: 0;
        height: 0%;
    }

    50%{
        opacity: 0.5;
        height: 50%;
    }


    100%{
        opacity: 1;
        height: 100%;
    }


}

.place{
    
    border-radius: 10px;
    background-color: var(--descColor);
    margin: 0 50px 50px 50px ;
}

.imageAndMap{
    height: 35vw;
    display: flex;
}

#map{
    display:none;
}

.imagePlace{
    width:100%;
    height: 100%;
    text-align: center;
    grid-column-start:1;
    grid-column-end: 3;
}

.mapPlace{
    grid-column-start:3;
    grid-column-end: 5;
}

.description{

    grid-column-start:1;
    grid-column-end: 3;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(2,1fr);
}

.name{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;
}

.imageName, .imagePrice, .imageNote, .imageTheme, .imageAvis, #searchButton, #searchButton2{
    width: 5vw;
}

 .theme{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2;
}

.avis{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4;
}

.price{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:3;
}

.note{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
}

l#heart{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;
} 

header{
    z-index: 1;
}

header>h1{
    display: flex;
text-align: center;
background-color: #CC0029;
color: black;
height: 7rem;
justify-content: center;
align-items: center;
font-size: 2.5rem;

}
header>img{
    position: absolute;
}

#logo{
    height: 7.5em;
    width: 7.5em;
}

footer>ul{
    display: flex;
    justify-content: space-around;
    height: 4rem;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
margin-bottom: 8rem;
}



footer ul li img {
    display: block;
    height: 2.5rem;
    width: 2.5rem;

}


footer{
    margin-bottom: 120px;
}


nav ul{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #CC0029;
  height:7rem;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
list-style: none;
}

nav ul img{
height: 50px;
width: 50px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 20px; 
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (bottom right corner) */
  .overlay .closebtn {
    position: absolute;
    bottom: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } */


  .overlayMap {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    bottom: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  
  
  /* Position the close button (top right corner) */
  .overlayMap .closebtnMap {
    position: absolute;
    bottom: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  .overlayMap a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }


   @media screen and (min-width: 400px){
      nav ul {
      position: initial;
      top: 0;
      bottom: initial;  


    }   
    main{
        margin-top: 17em;
    }
    .description{
        display:block;
    }

    .imageAndMap{
        justify-content: flex-start;
    }
    #logo{
        z-index: 1;
    }
    header{
        position: fixed;
        top: 0;
        width: 100%;
    }
    #home{
        margin-bottom: 0.2px;
    } 
    footer ul{
        margin-bottom: 1em;

    }
   }

  
 

    
 
