@font-face{
    font-family:"Snow Buddy";
    src: url("/FontSnowBuddy/fonts/Snow-Buddy.woff") format("woff");
}

:root
{
    --primary_color:#CC0029;
    --secondary_color:#FF8811;
    --third_color:#F5D800;
    --origin_color:black;
    --descColor: #bcbcbc;
    --policeTitle :"Snow Buddy", sans-serif;
}

* {
    box-sizing: border-box;
    margin-top: 0;
}

body{
    margin: 0;
}

#home{
   font-family: var(--policeTitle);
   font-size: 13vw;  
}

#add{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-image: url(/Ressources/add\ icone.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin-right: 5%;
}

.boxModal{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(238,174,202,0.8) 0%, rgba(148,187,233,0.8) 100%);
   position: fixed;
   top: 0;
   left: 0;
    z-index: 1;
    display: none;
}

.modalContent{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 20px;
    width: 30%;
    margin:30% auto 30% auto;
    border:solid black;
    border-radius: 16px;
    z-index: 1;
}


#closeIdent{
    background-color: #CC0029;
    border: solid 3px #CC0029;
    float: right;
}

.formModal{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(238,174,202,0.8) 0%, rgba(148,187,233,0.8) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
#formAdmin{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 20px;
    width: 30%;
    margin: 10% auto 50% auto;
    border:solid black;
    border-radius: 16px;
    z-index: 1;
}

#formAdmin > input, select{
    text-align: center;
    border-radius: 10px;
}

#submitAdmin{
    text-align: center;
    margin: auto;
    width: 100px;
}


.searchBar{
    position: relative;
    /* width: 180px; */
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.flip-box{
    position: relative;
    width: 50px;
    height: 50px;
}

.flip-box-int{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-int{
    transform: rotateX(180deg);
}

 .face{
    position: absolute;
    width: 100%;
    height: 100%;
   -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    transform: rotateX(180deg);
}

.pile{
    position: absolute;
    width: 100%;
    height: 100%;
   -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}


#searchButton{/*loupe orange sur fond noir*/
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: var(--origin_color);
    background-image: url('/Ressources/loupe iconeO.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid var(--origin_color) 3px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#searchButton2{/*loupe noir sur fond orange*/
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: var(--secondary_color);
    background-image: url('/Ressources/loupe icone.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid var(--secondary_color) 3px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    
}

#searchText{
display: none;
width: 220px;
background-color: var(--origin_color);
padding: 0.5vw 0.5vw 0.5vw 0;
border-top:solid var(--origin_color) 8px ;
border-right:solid var(--secondary_color) 8px ;
border-bottom:solid var(--secondary_color) 8px ;
/* animation: moveSearchBar 4s 1 normal ; */
}

@keyframes moveSearchBar{
    0%{
        opacity: 0;
        width: 0%;
    }

    50%{
        opacity: 0.5;
        width: 50%;
    }


    100%{
        opacity: 1;
    }


}

.place{
    
    border-radius: 10px;
    background-color: var(--descColor);
    margin: 0 50px 50px 50px ;
}

.imageAndMap{
    height: 35vw;
    display: flex;
}

#map{
    display:none;
}

.imagePlace{
    width:100%;
    height: 100%;
    text-align: center;
    grid-column-start:1;
    grid-column-end: 3;
}

.mapPlace{
    grid-column-start:3;
    grid-column-end: 5;
}

.description{

    grid-column-start:1;
    grid-column-end: 3;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(2,1fr);
}

.name{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;
}

.imageName, .imagePrice, .imageNote, .imageTheme, .imageAvis, #searchButton, #searchButton2{
    width: 5vw;
}

 .theme{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2;
}

.avis{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4;
}

.price{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:3;
}

.note{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
}

l#heart{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;
} 

header>h1{
    display: flex;
text-align: center;
background-color: #CC0029;
color: black;
height: 7rem;
justify-content: center;
align-items: center;
font-size: 2.5rem;

}
header>img{
    position: absolute;
}

#logo{
    height: 7.5em;
    width: 7.5em;
}

footer>ul{
    display: flex;
    justify-content: space-around;
    height: 4rem;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}



footer ul li img {
    display: block;
    height: 2.5rem;
    width: 2.5rem;

}


footer{
    margin-bottom: 120px;
}


nav ul{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #CC0029;
  height:7rem;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
list-style: none;
}

nav ul img{
height: 50px;
width: 50px;
}
/* <-------------------------------PARTIE ADMINISTRATEUR---------------------> */
.bodyAdmin{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.titreAdmin{
    margin-top: 20px;
    text-align: center;
}
